body{
    background-image: url(pic.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  
}
.btn{
    margin-top: 10px;
    text-decoration: aqua;
    color: white;
    background-color: rgb(141, 19, 68);
    border: none;
    border-radius: 30px;
    padding: 14px 28px;
    font-size: 18px;
    text-align: center;
}

.btn:hover{
    border: 2px solid #FF3399;
    background-color: transparent;
    color: #FF3399;
}
h1{
    font-size: 80px;
    color: whitesmoke;
    opacity: 60%;
}
.nav__links{
    display: inline-block;

}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
     overflow: auto;
}
li {
    float: left;
  }
  
li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: wavy;
    font-size: 19px;
}

/*nav{
    text-align: left;
}
*/
li a:hover{
border-bottom: 2px solid wheat;
}
.link__right{
    float: right;
    justify-content: right;
}